p{
    font-size: larger;
}
.home{
  margin-top: 50px;
    text-align: center;
    color: rgb(0, 55, 70);
    padding: 75px;
    animation-name: slideIn;
  animation-duration: 2s;
}
@keyframes slideIn {
    0% {
      opacity: 0;
      transform: translateY(-50px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
.homelogo {
    margin-top: 25px;
    width: 480px;
}