.con1{
    width: 50%;
    margin: 150px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(133, 150, 155);
    animation-name: slideIn;
  animation-duration: 2s;
  text-align: center;
  color: rgb(0, 55, 70);
  }
  @keyframes slideIn {
    0% {
      opacity: 0;
      transform: translateY(-50px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
}
h1{
    font-size:250%;
}
.tick{
    margin-top: 45px;
    animation: tick 0.5s ease-in-out forwards;
}

@keyframes tick {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
#back-5{
    color: white;
    background-color:rgb(0, 55, 70) ;
    outline: none;
    border-radius: 10px;
    width: 120px;
    font-size:larger;
    cursor: pointer;
    border: 0;
    padding: 12px 30px 12px 30px;
    margin-top: 20px;
    margin-right: 10px;
    margin-bottom: 40px;
}
  